.layout{
    margin-top: 2rem;
}

.link{
    margin: 1rem 0;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey);
    height: 100%;

}
.link li{
    cursor: pointer;
}